{{!-- Notes Tab --}}
<div class="tab" data-group="primary" data-tab="martialArts">      
    <div class="skills-container">
        <div class="deity flexrow" data-skill="Chi Die">
            <label class="flex1" for="system.class.chiDie">{{localize "WF.chiDie"}}</label>
            <input class="flex2" type="text" id="system.class.chiDie.value" name="system.class.chiDie.value" value="{{system.class.chiDie.value}}" data-dtype="Text" style="width: 50px;"/>
        </div>
    </div>
    <hr>
    <div class="skills-container"></div>
        <h4 class="class-label">{{localize "mysticMonk.martialArtsManuevers"}}</h4>
        <li>
            {{localize "mysticMonk.martialArtsDesc"}}
        </li>
        <li>
            {{localize "mysticMonk.disarm"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Chi Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "WF.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "mysticMonk.disarm1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "mysticMonk.disarm2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "mysticMonk.disarm3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "mysticMonk.disarm4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "mysticMonk.disarm5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "mysticMonk.flyingKick"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "WF.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "mysticMonk.fK1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "mysticMonk.fK2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "mysticMonk.fK3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "mysticMonk.fK4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "mysticMonk.fK5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "mysticMonk.kipUp"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.kU1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.kU2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.kU3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.kU4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.kU5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "mysticMonk.quiveringPalm"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.qP1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.qP2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.qP3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.qP4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.qP5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "mysticMonk.thunderClap"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.tC1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.tC2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.tC3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.tC4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.tC5"}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
