{{!-- Notes Tab --}}
<div class="tab" data-group="primary" data-tab="trickShot">      
    <div class="class">
        <div class="skills-container">
            <div class="deity flexrow" data-skill="Deadeye Die">
                <label class="flex1" for="system.class.deadeyeDie">{{localize "WF.deadeyeDie"}}</label>
                <input class="flex2" type="text" id="system.class.deadeyeDie.value" name="system.class.deadeyeDie.value" value="{{system.class.deadeyeDie.value}}" data-dtype="Text" style="width: 50px;"/>
            </div>
        </div>
    </div>
      <hr>
    <div class="skills-container"></div>
        <h4 class="class-label">{{localize "gunslinger.trickShotsTitle"}}</h4>
        <li>
            {{localize "gunslinger.trickShotsDesc"}}
        </li>
        <li>
            {{localize "gunslinger.freeBleeder"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "gunslinger.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "gunslinger.fB1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "gunslinger.fB2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "gunslinger.fB3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "gunslinger.fB4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "gunslinger.fB5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.lameDuck"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "gunslinger.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "gunslinger.lD1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "gunslinger.lD2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "gunslinger.lD3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "gunslinger.lD4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "gunslinger.lD5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.pistolWhip"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "gunslinger.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "gunslinger.pW1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "gunslinger.pW2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "gunslinger.pW3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "gunslinger.pW4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "gunslinger.pW5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.skinTheSmokeWagon"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "gunslinger.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "gunslinger.sTSW1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "gunslinger.sTSW2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "gunslinger.sTSW3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "gunslinger.sTSW4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "gunslinger.sTSW5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.spinningLead"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "gunslinger.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "gunslinger.sL1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "gunslinger.sL2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "gunslinger.sL3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "gunslinger.sL4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "gunslinger.sL5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.turnemYeller"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "gunslinger.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "gunslinger.tY1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "gunslinger.tY2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "gunslinger.tY3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "gunslinger.tY4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "gunslinger.tY5"}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
