{{!-- Notes Tab --}}
<div class="tab" data-group="primary" data-tab="martialArts">      
    <div class="skills-container"></div>
        <h4 class="class-label">{{localize "mysticMonk.martialArtsManuevers"}}</h4>
        <li>
            {{localize "mysticMonk.martialArtsDesc"}}
        </li>
        <li>
            {{localize "mysticMonk.disarm"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Chi Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "WF.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "mysticMonk.disarm1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "mysticMonk.disarm2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "mysticMonk.disarm3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "mysticMonk.disarm4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "mysticMonk.disarm5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.lameDuck"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thinRow">1-2</td>
                    <td>{{localize "WF.noResult"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">3</td>
                    <td>{{localize "mysticMonk.lD1"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">4</td>
                    <td>{{localize "mysticMonk.lD2"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">5</td>
                    <td>{{localize "mysticMonk.lD3"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">6</td>
                    <td>{{localize "mysticMonk.lD4"}}</td>
                </tr>
                <tr>
                    <td class="thinRow">7+</td>
                    <td>{{localize "mysticMonk.lD5"}}</td>
                </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.pistolWhip"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.pW1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.pW2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.pW3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.pW4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.pW5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.skinTheSmokeWagon"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.sTSW1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.sTSW2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.sTSW3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.sTSW4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.sTSW5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.spinningLead"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.sL1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.sL2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.sL3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.sL4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.sL5"}}</td>
                    </tr>
                </tbody>
            </table>
        <li>
            {{localize "gunslinger.turnemYeller"}}
        </li>
            <table class="customTable">
                <thead>
                <tr>
                    <th class="thinRow">Deadeye Die</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thinRow">1-2</td>
                        <td>{{localize "WF.noResult"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">3</td>
                        <td>{{localize "mysticMonk.tY1"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">4</td>
                        <td>{{localize "mysticMonk.tY2"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">5</td>
                        <td>{{localize "mysticMonk.tY3"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">6</td>
                        <td>{{localize "mysticMonk.tY4"}}</td>
                    </tr>
                    <tr>
                        <td class="thinRow">7+</td>
                        <td>{{localize "mysticMonk.tY5"}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
