/* ----------------------------------------- */
/*  Grit
/* ----------------------------------------- */
.dcc .grit {
    background-image: url("./images/grit.png");
    background-position-y: 5px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 125px 75px;
    flex: 0 0 99px;
    height: 99px;
    margin: 0 0 0 5px;
    text-align: center;
  }
  
  .dcc .grit .current-label {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: -8px auto 0 28px;
  }
  
  .dcc .grit .current {
    font-size: 1.6rem;
    height: 25px;
    margin: 31px auto 0 23px;
    width: 35px;
  }
  
  .dcc .grit .max {
    font-size: 0.8rem;
    height: 17px;
    margin: 7px auto 0 63px;
    width: 25px;
  }
  
  .dcc .grit .max-label {
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin: 2px auto 0 65px;
  }

/* ----------------------------------------- */
/*  Hit Points                               */
/* ----------------------------------------- */
.dcc .hp {
  background-image: url("./images/hp.png");
  background-position-y: 9px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 113px 75px;
  flex: 0 0 97px;
  height: 99px;
  margin: 0 0 0 5px;
  text-align: center;
}

.dcc .hp .current-label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: -8px auto 0 28px;
}

.dcc .hp .current {
  font-size: 1.6rem;
  height: 25px;
  margin: 31px auto 0 23px;
  width: 35px;
}

.dcc .hp .max {
  font-size: 0.8rem;
  height: 17px;
  margin: 7px auto 0 63px;
  width: 25px;
}

.dcc .hp .max-label {
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin: 2px auto 0 65px;
}

/* ----------------------------------------- */
/*  Armor Class                              */
/* ----------------------------------------- */
.dcc .ac {
  background-image: url("./images/Armor.png");
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -29px;
  background-size: 136px 84px;
  flex: 0 0 77px;
  height: 99px;
  margin: 0px 0 0 6px;
  text-align: center;
  padding-top: 9px;
}

.dcc .ac label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 31px auto 0;
}

.dcc .ac .ac-value {
  font-size: 1.6rem;
  height: 25px;
  margin: 21px auto 0;
  width: 35px;
}